<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hyman.demo"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--
    android：usesCleartextTraffic：
    指示应用程序是否使用明文网络流量，例如明文 HTTP。目标 API 级别为 27 或更低的应用程序的默认值为 true。
    面向 API 级别 28 或更高级别的应用默认为 false。
    当属性设置为 false 时，平台组件（例如 HTTP 和 FTP 堆栈，DownloadManager 和 MediaPlayer）将拒绝应用
    程序使用明文流量的请求。强烈建议第三方库也采用此设置。
    避免明文通信的主要原因是缺乏机密性，真实性和防篡改保护；网络攻击者可以窃听所传输的数据，并且还可以对其
    进行修改而不会被检测到。
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Demo"
        tools:targetApi="m">

        <activity android:name=".WebViewActivity"></activity>
        <activity android:name=".sms.SmsMainActivity" />

        <!--
        添加向上导航功能：
        在应用中，不是主入口点的每个屏幕（所有不是主屏幕的屏幕）都必须提供导航功能，以便将用户引导至应用层
        次结构中的逻辑父级屏幕。为此，应在应用栏中添加向上按钮。
        在本文件中声明哪个 Activity 是逻辑父级。在文件中找到 DisplayMessageActivity 所在的标记，然后将其
        替换为以下代码，Android 系统会自动向应用栏添加向上按钮
        -->
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/msg_page"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".live.LiveActivity" />
        <activity
            android:name=".live.LiveSonActivity"
            android:label="@string/window_page"
            android:parentActivityName=".live.LiveActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            tools:ignore="DuplicateActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".live.LiveActivity" />
        </activity>
        <!--
            name，指定活动页面的全类名，包名可省略。
            lable，界面的标题。

            IntentFilter：
                - 如果希望你的 Activity 可以被其它应用访问，则就需要在 AndroidManifest.xml 中，为 Activity
                  指定 IntentFilter 的配置。
                - 如果想启动其它应用的界面，则必须用隐式 intent，且目标界面 Activty 配置了 < intent-filter>。
                - 其作用类似于 web 中为 Servlet 配置的 < url-pattern>。

            intent-filter，使当前页面作为应用程序的主界面。
            LAUNCHER，可看成是一个加载器，使手机操作系统能够加载到本应用程序。
        -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>